.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: 'Poppins', Arial, sans-serif;
  color: #212121;
  display: flex;
  flex-direction: column;
}

.page__section {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Additional styling for cards grid */
.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

@media screen and (min-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
